# Connections Development

### Libraries

In [5]:
# import libraries

import pandas as pd
from utils import load_filtered_data

# pd.set_option('display.max_rows', None)

In [6]:
# major variables

city = 'Sicklerville'
data = load_filtered_data(city)

### Data preprocessing

In [7]:
# data preprocessing

data['business'] = data['business'].drop(['city', 'state'], axis=1)
data['business']['categories'] = data['business']['categories'].fillna('Other')

data['user']['friends'] = data['user']['friends'].fillna('')

### Feature engineering

In [8]:
# dataframe for user reviews

user_reviews_df = data['review'].groupby('user_id')['business_id'].agg(list).reset_index()
user_reviews_df.columns = ['user_id', 'business_ids']

user_reviews_df

,user_id,business_ids
0,-0MIp6WKJ8QvGnYZQ5ETyg,[2jy1GXVEHFIZZDV9rNBzcQ]
1,-23fvrDipXmZf9edeiF2yA,[QiQl1_ErNV_wcQS0Bgfg8A]
2,-27LxQq2L2oXHPYXzspBNA,[FqHuK8GngSTqD-64mIdBrw]
3,-3CNoR9qVyD_P_K1Hvujbw,[nVRPnQOHahdw3N5PFwoYwA]
4,-6MrOJCN-eIe37-LT-uPoQ,"[hHTo8EhV8nLPLcO4SHmQgQ, NbajxjmlNjYfUNr1osXpY..."
...,...,...
2885,ztj0Iln1_ahMyDu9WXQNeA,"[W4EklwiIeQNH6QhkcGllQQ, kEsHQJADJRgsPMjio88mYg]"
2886,zvQmf9h7UpKiqt3XU7hppQ,[3a4WbB1do5QXwtVEwDiZcw]
2887,zvYSqlpOr2Nhi6ct_91vYw,"[NbajxjmlNjYfUNr1osXpYw, j1Gkb3wSeo3klOEAhL75c..."
2888,zxFEGpkzzdAb7qR6e6qWwQ,[lQZDL1J6xDjL7PG-5CgkGA]
2889,zyTCJLh4oUsuRar4kxRfgg,[j6ZbvZ61szApc-EXvKgumA]

In [9]:
# dataframe for user tips

user_tips_df = data['tip'].groupby('user_id')['business_id'].agg(list).reset_index()
user_tips_df.columns = ['user_id', 'business_ids']

user_tips_df

                    user_id                                      business_ids
0    -7fV-5KlUUMatLOiIOBT-g                          [TOVprh8VkxDRMwU-MlRgJg]
1    -FpdhQ3h2YQgKMtF7NX85w                          [BreAoaPXLkmLRU0xeSzQPw]
2    -G7Zkl1wIWBBmD0KRy_sCw                          [0pL-eq0ufX5jMDgVAvoHHw]
3    -XZOz3ViFET3IZFRGFoOpQ  [QCZvkvipsfyZ_5uBy3PkpQ, QCZvkvipsfyZ_5uBy3PkpQ]
4    -kAQ-PSKx3i0st2B4aPpTg                          [0p7kYtoqwJScvJjMjXYr7w]
..                      ...                                               ...
431  z_79z8n_uFOKbluPlZrtFg                          [hHTo8EhV8nLPLcO4SHmQgQ]
432  zb1dJhjlW3c-IAMr0OjZaQ                          [Bw2X8gqOouIIznH2x_bLeQ]
433  zhx48x_XOjJQBA0DMnPG2Q                          [oGDLaTRLPLz-R_KyQ3TzPA]
434  zkamNMEjihh3zN7lC7_WVw  [NbajxjmlNjYfUNr1osXpYw, i39XLqAolwphb5zkZVId_A]
435  zvYSqlpOr2Nhi6ct_91vYw                          [NbajxjmlNjYfUNr1osXpYw]

[436 rows x 2 columns]

In [10]:
# dataframe for user categories (reviewed and tipped)

review_business_data = pd.merge(data['review'], data['business'][['business_id', 'categories']], on='business_id', how='left')
tip_business_data = pd.merge(data['tip'], data['business'][['business_id', 'categories']], on='business_id', how='left')
merged_data = pd.concat([review_business_data, tip_business_data])

user_categories_df = merged_data.groupby('user_id')['categories'].agg(lambda x: list(set(x))).reset_index()
user_categories_df.columns = ['user_id', 'categories']

user_categories_df

,user_id,categories
0,-0MIp6WKJ8QvGnYZQ5ETyg,"[Fast Food, Salad, Restaurants, Chicken Shop, ..."
1,-23fvrDipXmZf9edeiF2yA,"[Appliances & Repair, Local Services]"
2,-27LxQq2L2oXHPYXzspBNA,"[Restaurants, Caribbean, Soul Food]"
3,-3CNoR9qVyD_P_K1Hvujbw,"[Delis, Restaurants]"
4,-6MrOJCN-eIe37-LT-uPoQ,"[Restaurants, Asian Fusion, Coffee & Tea, Food..."
...,...,...
3073,ztj0Iln1_ahMyDu9WXQNeA,"[Salad, Restaurants, Sandwiches, Soup, Food, R..."
3074,zvQmf9h7UpKiqt3XU7hppQ,"[Skin Care, Health & Medical, Massage Therapy,..."
3075,zvYSqlpOr2Nhi6ct_91vYw,"[American (Traditional), Chicken Wings, Bars, ..."
3076,zxFEGpkzzdAb7qR6e6qWwQ,"[Restaurants, Asian Fusion]"
3077,zyTCJLh4oUsuRar4kxRfgg,"[Italian, Restaurants, Sandwiches, American (N..."

In [11]:
# dataframe for user friends

user_friends_df = data['user'][['user_id', 'friends']]
user_friends_df.loc[:, 'friends'] = user_friends_df['friends'].str.split(', ')

user_friends_df

/var/folders/td/xwj23wjj3p909mcvhbt6jgy00000gn/T/ipykernel_53015/1305039260.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_friends_df.loc[:, 'friends'] = user_friends_df['friends'].str.split(', ')

,user_id,friends
0,RgDVC3ZUBqpEe6Y1kPhIpw,"[sHozd2pcOKwHtPr8VlZJfg, 7mL9cvICl8fuCQTM89a-S..."
1,zkamNMEjihh3zN7lC7_WVw,"[YLzb3jjc3p-XAOBRggcrgA, 9lcq01JUhRY2yW8AxU3TI..."
2,gVFxZMcuG_Tal2_TnpmUPg,"[uUh_q6rVMhKxwt0eaiphRg, jRqWx2z7jdSzpvqqswqNn..."
3,g0_x4kVvJAYuk96oCcbOmw,"[_BcWyKQL16ndpBdggh2kNA, mx50KP6rXgutH36fhnL6V..."
4,-NbeVN5tnwdyYAvdNkKMjw,"[9IRuYmy5YmhtNQ6ei1p-uQ, 6NvkQATK0J2nmEWsuzhHi..."
...,...,...
3073,CUE13op55l9WZp6fBTUWnA,[None]
3074,cACn6Qc1owO7hV_ZhcP74Q,[None]
3075,SpTYEhfInvALG1le1uu21w,[None]
3076,sGOCaCP7_SMlaRKPNO__CQ,[None]
3077,AUaVo2JAMwLGJmBo3M4VyQ,[None]

### Creation of nodes and edges

In [12]:
# user nodes

nodes = data['user'][['user_id', 'name']].rename(columns={'user_id': 'id'})

nodes

                          id       name
0     RgDVC3ZUBqpEe6Y1kPhIpw     Monica
1     zkamNMEjihh3zN7lC7_WVw    Matthew
2     gVFxZMcuG_Tal2_TnpmUPg  Stephanie
3     g0_x4kVvJAYuk96oCcbOmw    Michael
4     -NbeVN5tnwdyYAvdNkKMjw    Dominic
...                      ...        ...
3073  CUE13op55l9WZp6fBTUWnA     Nicole
3074  cACn6Qc1owO7hV_ZhcP74Q    Allison
3075  SpTYEhfInvALG1le1uu21w        Ray
3076  sGOCaCP7_SMlaRKPNO__CQ     Tahjae
3077  AUaVo2JAMwLGJmBo3M4VyQ     Nicole

[3078 rows x 2 columns]

#### Friendship edges

In [14]:
# edges representing user friendships

friendship_edges = []

for idx, row in user_friends_df.iterrows():
    user_id = row['user_id']
    friends_list = row['friends'] 

    for friend in friends_list:
        if friend in nodes['id'].values:
            friendship_edges.append((user_id, friend, 1, 'friendship'))

friendship_edges = pd.DataFrame(friendship_edges, columns=['from', 'to', 'weight', 'type'])
friendship_edges = friendship_edges.drop_duplicates()

friendship_edges

                        from                      to  weight        type
0     RgDVC3ZUBqpEe6Y1kPhIpw  ET8n-r7glWYqZhuR6GcdNw       1  friendship
1     RgDVC3ZUBqpEe6Y1kPhIpw  A_BF2dDDUTKGVXrqxO9mag       1  friendship
2     RgDVC3ZUBqpEe6Y1kPhIpw  r3ov7FgibBx41_W74I1KiA       1  friendship
3     RgDVC3ZUBqpEe6Y1kPhIpw  ApJ9YgYU-AhS4a-F5oTGHw       1  friendship
4     RgDVC3ZUBqpEe6Y1kPhIpw  cXtE-ZTrNx-hE7usp_f_xg       1  friendship
...                      ...                     ...     ...         ...
3553  XK-y2bmfTHkvYcXhZdUsUw  V_GUiV9qmwiHf2mpoe6Z5A       1  friendship
3554  YNVgWbJpVqi16hd_TRTmSA  ePxjx8tee06mn5h87X-Sxg       1  friendship
3555  g2wm59vqikKev1UxWtPwpw  7PgEfFn3tX__MeZANY3tYQ       1  friendship
3556  No6DEuOu_In4ncAUg0MRtA  -u5CsCUHOvP5OHYaNGteZw       1  friendship
3557  JaC0kofsQCR-adebGQdZ6A  RF10H09h98BaHfIZ8JS8jQ       1  friendship

[3558 rows x 4 columns]

In [10]:
# save nodes and friendship edges

connection = 'friendships'

nodes.to_csv(f'nodes_and_edges/{city}_{connection}_nodes.csv', index=False)
friendship_edges.to_csv(f'nodes_and_edges/{city}_{connection}_edges.csv', index=False)

#### Review edges

In [15]:
# edges representing reviews on same businesses

review_edges = []

user_reviews_exploded = user_reviews_df.explode('business_ids')

review_business_pairs = pd.merge(user_reviews_exploded, user_reviews_exploded, on='business_ids')
review_business_pairs = review_business_pairs[review_business_pairs['user_id_x'] != review_business_pairs['user_id_y']]

common_businesses_count = review_business_pairs.groupby(['user_id_x', 'user_id_y'])['business_ids'].count().reset_index()

review_edges = common_businesses_count.rename(columns={'user_id_x': 'from', 'user_id_y': 'to', 'business_ids': 'weight'})
review_edges['type'] = 'reviewed_same_business'
review_edges = review_edges.drop_duplicates()

review_edges

,from,to,weight,type
0,-0MIp6WKJ8QvGnYZQ5ETyg,-ZCf13dTuzGKMwKFRxTUwQ,1,reviewed_same_business
1,-0MIp6WKJ8QvGnYZQ5ETyg,-u5CsCUHOvP5OHYaNGteZw,1,reviewed_same_business
2,-0MIp6WKJ8QvGnYZQ5ETyg,0cLvdT2ANqM7CL93gccVjA,1,reviewed_same_business
3,-0MIp6WKJ8QvGnYZQ5ETyg,2K6e4rSuEYKJpmU37Kk-oA,1,reviewed_same_business
4,-0MIp6WKJ8QvGnYZQ5ETyg,2RCnyrzyOQ1oA9jSgL7XPQ,1,reviewed_same_business
...,...,...,...,...
273707,zyTCJLh4oUsuRar4kxRfgg,vnSNGuRxa9p3Xrvlj3t03g,1,reviewed_same_business
273708,zyTCJLh4oUsuRar4kxRfgg,w7QCKFrjpaBHiPSOo2O3MQ,1,reviewed_same_business
273709,zyTCJLh4oUsuRar4kxRfgg,xvdkeWY0421VZicMbYmz2w,1,reviewed_same_business
273710,zyTCJLh4oUsuRar4kxRfgg,y2PUG5elRIz6xkQP30DScA,1,reviewed_same_business
273711,zyTCJLh4oUsuRar4kxRfgg,zUk_Ww2q1At1QSyRbUjIGQ,1,reviewed_same_business

In [12]:
# save nodes and review edges

connection = 'business_reviews'

nodes.to_csv(f'nodes_and_edges/{city}_{connection}_nodes.csv', index=False)
review_edges.to_csv(f'nodes_and_edges/{city}_{connection}_edges.csv', index=False)

#### Tip edges

In [16]:
# edges representing tips on same businesses

tip_edges = []

tips_exploded = user_tips_df.explode('business_ids')

tip_business_pairs = pd.merge(tips_exploded, tips_exploded, on='business_ids')
tip_business_pairs = tip_business_pairs[tip_business_pairs['user_id_x'] != tip_business_pairs['user_id_y']]

common_businesses_count = tip_business_pairs.groupby(['user_id_x', 'user_id_y'])['business_ids'].count().reset_index()

tip_edges = common_businesses_count.rename(columns={'user_id_x': 'from', 'user_id_y': 'to', 'business_ids': 'weight'})
tip_edges['type'] = 'tipped_same_business'
tip_edges = tip_edges.drop_duplicates()

tip_edges

,from,to,weight,type
0,-7fV-5KlUUMatLOiIOBT-g,19db0FoXZ3Z42YlxJNc3yA,1,tipped_same_business
1,-7fV-5KlUUMatLOiIOBT-g,EqxTRmQVFYOKDZAzg_jPUA,1,tipped_same_business
2,-7fV-5KlUUMatLOiIOBT-g,FDF8cb38lGF61RYXuKxF-A,1,tipped_same_business
3,-7fV-5KlUUMatLOiIOBT-g,_HVLI1r7CFgq7UgKJJduLw,1,tipped_same_business
4,-7fV-5KlUUMatLOiIOBT-g,dhLizr4a2oydrv15y56r0A,1,tipped_same_business
...,...,...,...,...
6081,zvYSqlpOr2Nhi6ct_91vYw,dLUJcC7l6fOM8oTc63SQSA,1,tipped_same_business
6082,zvYSqlpOr2Nhi6ct_91vYw,e3w7nYEWShsYUjbJSE577g,1,tipped_same_business
6083,zvYSqlpOr2Nhi6ct_91vYw,kgXtOag6mfRoIHa1LTjoug,1,tipped_same_business
6084,zvYSqlpOr2Nhi6ct_91vYw,vZsH7VYNIa42wo4-f1svEQ,1,tipped_same_business
6085,zvYSqlpOr2Nhi6ct_91vYw,zkamNMEjihh3zN7lC7_WVw,1,tipped_same_business

In [14]:
# save nodes and tip edges

connection = 'business_tips'

nodes.to_csv(f'nodes_and_edges/{city}_{connection}_nodes.csv', index=False)
tip_edges.to_csv(f'nodes_and_edges/{city}_{connection}_edges.csv', index=False)

#### Category edges

In [17]:
# edges representing reviews or tips on common categories

category_edges = []

for i in range(len(user_categories_df)):
    for j in range(i+1, len(user_categories_df)):
        user1_categories = set(user_categories_df.loc[i, 'categories'])
        user2_categories = set(user_categories_df.loc[j, 'categories'])
        common_categories = user1_categories.intersection(user2_categories)

        if common_categories:
            edge = {
                'from': user_categories_df.loc[i, 'user_id'],
                'to': user_categories_df.loc[j, 'user_id'],
                'weight': len(common_categories),
                'type': 'common_categories'
            }
            category_edges.append(edge)

category_edges = pd.DataFrame(category_edges)
category_edges = category_edges.drop_duplicates()

category_edges

,from,to,weight,type
0,-0MIp6WKJ8QvGnYZQ5ETyg,-ZCf13dTuzGKMwKFRxTUwQ,1,common_categories
1,-0MIp6WKJ8QvGnYZQ5ETyg,-u5CsCUHOvP5OHYaNGteZw,1,common_categories
2,-0MIp6WKJ8QvGnYZQ5ETyg,0cLvdT2ANqM7CL93gccVjA,1,common_categories
3,-0MIp6WKJ8QvGnYZQ5ETyg,2K6e4rSuEYKJpmU37Kk-oA,1,common_categories
4,-0MIp6WKJ8QvGnYZQ5ETyg,2RCnyrzyOQ1oA9jSgL7XPQ,1,common_categories
...,...,...,...,...
173850,zg7fd5Lqylh6bEVzZksRAA,zxFEGpkzzdAb7qR6e6qWwQ,1,common_categories
173851,ziqmpeDagwM5_IOhQQL1-Q,zxFEGpkzzdAb7qR6e6qWwQ,1,common_categories
173852,zkUag7nMlqepogNJIi4EoA,zvYSqlpOr2Nhi6ct_91vYw,1,common_categories
173853,zkamNMEjihh3zN7lC7_WVw,zmS0zKxOejPVYVv-ivTBGg,1,common_categories
173854,zkamNMEjihh3zN7lC7_WVw,zvYSqlpOr2Nhi6ct_91vYw,1,common_categories

In [16]:
# save nodes and category edges

connection = 'categories'

nodes.to_csv(f'nodes_and_edges/{city}_{connection}_nodes.csv', index=False)
category_edges.to_csv(f'nodes_and_edges/{city}_{connection}_edges.csv', index=False)

In [18]:
# edges representing reviews or tips on common categories (with threshold)

threshold_category_edges = []
threshold = 2

for i in range(len(user_categories_df)):
    for j in range(i+1, len(user_categories_df)):
        user1_categories = set(user_categories_df.loc[i, 'categories'])
        user2_categories = set(user_categories_df.loc[j, 'categories'])
        common_categories = user1_categories.intersection(user2_categories)

        if len(common_categories) >= threshold:
            edge = {
                'from': user_categories_df.loc[i, 'user_id'],
                'to': user_categories_df.loc[j, 'user_id'],
                'weight': 1,
                'type': 'common_categories'
            }
            threshold_category_edges.append(edge)

threshold_category_edges = pd.DataFrame(threshold_category_edges)
threshold_category_edges = threshold_category_edges.drop_duplicates()

threshold_category_edges

,from,to,weight,type
0,-6MrOJCN-eIe37-LT-uPoQ,1hgePsmvAkZDD9fDc3KbRg,1,common_categories
1,-6MrOJCN-eIe37-LT-uPoQ,4StF33ZASP-kBp62BK-KuA,1,common_categories
2,-6MrOJCN-eIe37-LT-uPoQ,5lTbzB1J1njAsyzdIWd_Bw,1,common_categories
3,-6MrOJCN-eIe37-LT-uPoQ,6Q8dQGr_DBKcmQ1aXVWvTQ,1,common_categories
4,-6MrOJCN-eIe37-LT-uPoQ,Adm05emqn5AchOhcrD1b5Q,1,common_categories
...,...,...,...,...
3329,yI0K-o0DeHS9G8PNgB99EQ,z-mS3u-p3ydQKDzFIoxMBw,1,common_categories
3330,yI0K-o0DeHS9G8PNgB99EQ,zUk_Ww2q1At1QSyRbUjIGQ,1,common_categories
3331,z-mS3u-p3ydQKDzFIoxMBw,zUk_Ww2q1At1QSyRbUjIGQ,1,common_categories
3332,z-mS3u-p3ydQKDzFIoxMBw,zmS0zKxOejPVYVv-ivTBGg,1,common_categories
3333,zUk_Ww2q1At1QSyRbUjIGQ,zkamNMEjihh3zN7lC7_WVw,1,common_categories

In [21]:
# save nodes and category edges (with threshold)

connection = 'threshold_categories'

nodes.to_csv(f'nodes_and_edges/{city}_{connection}_nodes.csv', index=False)
threshold_category_edges.to_csv(f'nodes_and_edges/{city}_{connection}_edges.csv', index=False)

#### Combined edges

In [22]:
# edges representing several interactions mixed

combined_edges = []

category_edges_copy = category_edges.copy()
review_edges_copy = review_edges.copy()
tip_edges_copy = tip_edges.copy()
friendship_edges_copy = friendship_edges.copy()

category_edges_weight = 1
review_edges_weight = 2
tip_edges_weight = 3
friendship_edges_weight = 4

category_edges_copy['weight'] *= category_edges_weight
review_edges_copy['weight'] *= review_edges_weight
tip_edges_copy['weight'] *= tip_edges_weight
friendship_edges_copy['weight'] *= friendship_edges_weight

combined_edges = pd.concat([category_edges_copy, review_edges_copy, tip_edges_copy, friendship_edges_copy])
combined_edges = combined_edges.groupby(['from', 'to', 'type']).agg({'weight': 'sum'}).reset_index()
combined_edges['type'] = 'mixed_interactions'

combined_edges = combined_edges.drop_duplicates()

combined_edges

,from,to,type,weight
0,-0MIp6WKJ8QvGnYZQ5ETyg,-ZCf13dTuzGKMwKFRxTUwQ,mixed_interactions,1
1,-0MIp6WKJ8QvGnYZQ5ETyg,-ZCf13dTuzGKMwKFRxTUwQ,mixed_interactions,2
2,-0MIp6WKJ8QvGnYZQ5ETyg,-u5CsCUHOvP5OHYaNGteZw,mixed_interactions,1
3,-0MIp6WKJ8QvGnYZQ5ETyg,-u5CsCUHOvP5OHYaNGteZw,mixed_interactions,2
4,-0MIp6WKJ8QvGnYZQ5ETyg,0cLvdT2ANqM7CL93gccVjA,mixed_interactions,1
...,...,...,...,...
457206,zyTCJLh4oUsuRar4kxRfgg,vnSNGuRxa9p3Xrvlj3t03g,mixed_interactions,2
457207,zyTCJLh4oUsuRar4kxRfgg,w7QCKFrjpaBHiPSOo2O3MQ,mixed_interactions,2
457208,zyTCJLh4oUsuRar4kxRfgg,xvdkeWY0421VZicMbYmz2w,mixed_interactions,2
457209,zyTCJLh4oUsuRar4kxRfgg,y2PUG5elRIz6xkQP30DScA,mixed_interactions,2
457210,zyTCJLh4oUsuRar4kxRfgg,zUk_Ww2q1At1QSyRbUjIGQ,mixed_interactions,2

In [23]:
# save nodes and combined edges

connection = 'combined'

nodes.to_csv(f'nodes_and_edges/{city}_{connection}_nodes.csv', index=False)
combined_edges.to_csv(f'nodes_and_edges/{city}_{connection}_edges.csv', index=False)

In [24]:
# edges representing categories and business reviews mixed

category_review_edges = []

category_edges_weight = 1
review_edges_weight = 2

category_edges_copy = category_edges.copy()
review_edges_copy = review_edges.copy()

category_edges_copy['weight'] *= category_edges_weight
review_edges_copy['weight'] *= review_edges_weight

category_review_edges = pd.concat([category_edges_copy, review_edges_copy])
category_review_edges = category_review_edges.groupby(['from', 'to']).agg({'weight': 'sum'}).reset_index()

category_review_edges['type'] = 'common_categories_and_reviews'

category_review_edges = category_review_edges.drop_duplicates()

category_review_edges

,from,to,weight,type
0,-0MIp6WKJ8QvGnYZQ5ETyg,-ZCf13dTuzGKMwKFRxTUwQ,3,common_categories_and_reviews
1,-0MIp6WKJ8QvGnYZQ5ETyg,-u5CsCUHOvP5OHYaNGteZw,3,common_categories_and_reviews
2,-0MIp6WKJ8QvGnYZQ5ETyg,0cLvdT2ANqM7CL93gccVjA,3,common_categories_and_reviews
3,-0MIp6WKJ8QvGnYZQ5ETyg,2K6e4rSuEYKJpmU37Kk-oA,3,common_categories_and_reviews
4,-0MIp6WKJ8QvGnYZQ5ETyg,2RCnyrzyOQ1oA9jSgL7XPQ,3,common_categories_and_reviews
...,...,...,...,...
310706,zyTCJLh4oUsuRar4kxRfgg,vnSNGuRxa9p3Xrvlj3t03g,2,common_categories_and_reviews
310707,zyTCJLh4oUsuRar4kxRfgg,w7QCKFrjpaBHiPSOo2O3MQ,2,common_categories_and_reviews
310708,zyTCJLh4oUsuRar4kxRfgg,xvdkeWY0421VZicMbYmz2w,2,common_categories_and_reviews
310709,zyTCJLh4oUsuRar4kxRfgg,y2PUG5elRIz6xkQP30DScA,2,common_categories_and_reviews
310710,zyTCJLh4oUsuRar4kxRfgg,zUk_Ww2q1At1QSyRbUjIGQ,2,common_categories_and_reviews

In [ ]:
# save nodes and category review edges

connection = 'categories_and_reviews'

nodes.to_csv(f'nodes_and_edges/{city}_{connection}_nodes.csv', index=False)
category_review_edges.to_csv(f'nodes_and_edges/{city}_{connection}_edges.csv', index=False)

#### Priority Combined edges

In [28]:
# list of preferences in order of priority
list_of_preferences = ['friendship', 'reviewed_same_business', 'tipped_same_business', 'common_categories']

priority_combined_edges = pd.DataFrame(columns=['from', 'to', 'weight', 'type'])

def get_alone_users(nodes, edges):
    alone_users = set(nodes['id'].values) - set(edges['from'].values) - set(edges['to'].values)
    return pd.DataFrame(list(alone_users), columns=['id'])


def clean_edges(edges, users_to_keep):
    edges = edges[edges['from'].isin(users_to_keep)]
    edges = edges[edges['to'].isin(users_to_keep)]
    return edges


for preference in list_of_preferences:
    if preference == 'friendship':
        priority_combined_edges = pd.concat([priority_combined_edges, clean_edges(friendship_edges, get_alone_users(nodes, priority_combined_edges)['id'])])
    elif preference == 'reviewed_same_business':
        priority_combined_edges = pd.concat([priority_combined_edges, clean_edges(review_edges, get_alone_users(nodes, priority_combined_edges)['id'])])
    elif preference == 'tipped_same_business':
        priority_combined_edges = pd.concat([priority_combined_edges, clean_edges(tip_edges, get_alone_users(nodes, priority_combined_edges)['id'])])
    elif preference == 'common_categories':
        priority_combined_edges = pd.concat([priority_combined_edges, clean_edges(category_edges, get_alone_users(nodes, priority_combined_edges)['id'])])


# join the rest of the alone people with 0 weight
alone_users = get_alone_users(nodes, priority_combined_edges)
alone_users['weight'] = 0
alone_users['type'] = 'alone'

priority_combined_edges = pd.concat([priority_combined_edges, alone_users])
priority_combined_edges = priority_combined_edges.drop_duplicates()

priority_combined_edges

,from,to,weight,type,id
0,RgDVC3ZUBqpEe6Y1kPhIpw,ET8n-r7glWYqZhuR6GcdNw,1,friendship,NaN
1,RgDVC3ZUBqpEe6Y1kPhIpw,A_BF2dDDUTKGVXrqxO9mag,1,friendship,NaN
2,RgDVC3ZUBqpEe6Y1kPhIpw,r3ov7FgibBx41_W74I1KiA,1,friendship,NaN
3,RgDVC3ZUBqpEe6Y1kPhIpw,ApJ9YgYU-AhS4a-F5oTGHw,1,friendship,NaN
4,RgDVC3ZUBqpEe6Y1kPhIpw,cXtE-ZTrNx-hE7usp_f_xg,1,friendship,NaN
...,...,...,...,...,...
22,NaN,NaN,0,alone,CTf-fQSWnVLi8BYtakjuEA
23,NaN,NaN,0,alone,ey3ZVqeGHKuuVkuWWymqhg
24,NaN,NaN,0,alone,dd7xkcJyxbX4U1vm0oSc9g
25,NaN,NaN,0,alone,83jPvlJ6eOKVVyiwWj67zQ
26,NaN,NaN,0,alone,V4fAcKLnH8zIJVfIDL9K0Q

In [29]:
# save nodes and priority combined edges

connection = 'priority_combined'

nodes.to_csv(f'nodes_and_edges/{city}_{connection}_nodes.csv', index=False)
priority_combined_edges.to_csv(f'nodes_and_edges/{city}_{connection}_edges.csv', index=False)