# Natural Language Processing

### Libraries

In [1]:
# import libraries

import nltk

from utils import load_filtered_data

In [2]:
# major variables

city = 'St. Louis'
data = load_filtered_data(city)

### Preprocessing

In [5]:
data['review'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63451 entries, 0 to 63450
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_id    63451 non-null  object
 1   user_id      63451 non-null  object
 2   business_id  63451 non-null  object
 3   stars        63451 non-null  int64
 4   useful       63451 non-null  int64
 5   funny        63451 non-null  int64
 6   cool         63451 non-null  int64
 7   text         63451 non-null  object
 8   date         63451 non-null  object
dtypes: int64(4), object(5)
memory usage: 4.4+ MB

In [8]:
# dataframe with reviews and sentiment labels (based on stars)

reviews = data['review'].copy()

reviews['positive'] = reviews['stars'].apply(lambda x: 1 if x > 3 else 0)
reviews['neutral'] = reviews['stars'].apply(lambda x: 1 if x == 3 else 0)
reviews['negative'] = reviews['stars'].apply(lambda x: 1 if x < 3 else 0)

review_df = reviews[['review_id', 'text', 'positive', 'neutral', 'negative']]

review_df

,review_id,text,positive,neutral,negative
0,NvusujU9_5pIUbn9SZ6hMA,Stopped by to munch a burger during today's Se...,1,0,0
1,vHOeBa7aMA_na4rfS2Db5A,"Yelp doesn't allow to leave 0 star review, so ...",0,0,1
2,hG9RTxxivb0ZXzEk4JXTXA,I find it hard to believe there are so many pe...,0,0,1
3,zIVkwgahZjOneChZFUYY4g,Love this place! Almost all of their menu item...,1,0,0
4,DLczAuvMAlAnY5EeDGhTVg,Excellent customer service. I wish I could ren...,1,0,0
...,...,...,...,...,...
63446,OgoBp7fbXnLSKvsQb4O_tw,"I really loved the food and service. I mean, t...",1,0,0
63447,Q7e8EtZMmdknDrQE7huMoQ,Their Grove location was the bomb. Delicious f...,1,0,0
63448,zzMW6zbsFaQMjoGu2bGVdA,A nice ean BBQ joint right across from some ne...,1,0,0
63449,scgoa60EvhW2Mz7JMqLYGw,The perfect Hookah bar. I'm not sure what they...,1,0,0
63450,M7NAWZ9P99ucR66LrxrUOQ,"Besides it being super busy often, usually, I ...",0,1,0