In [2]:
import pandas as pd
from tqdm.notebook import tqdm

In [4]:
city = "Sicklerville"
content = "checkin"

df = pd.read_csv(f'../filtered_cities/{city}_{content}.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  138 non-null    object
 1   date         138 non-null    object
dtypes: object(2)
memory usage: 2.3+ KB

In [6]:
df.head()

              business_id                                               date
0  -7AGjO0qnOld_GZK9dNNkQ  2011-06-18 02:12:05, 2011-06-24 16:56:20, 2011...
1  -O_IkEBfG-63san1Pwg2Tg  2016-03-31 16:08:21, 2016-04-03 01:31:48, 2016...
2  -wmCy-08MGD53pAioLQpaA                                2017-02-09 18:23:09
3  0p7kYtoqwJScvJjMjXYr7w           2015-06-09 19:30:17, 2018-07-20 16:38:24
4  0pL-eq0ufX5jMDgVAvoHHw  2013-01-07 00:55:46, 2013-01-10 00:37:53, 2013...

In [7]:
df.duplicated().sum()

0

In [8]:
df['date'] = df['date'].str.split(', ')
df = df.explode('date')